img { 
    float: left; 
    padding: 5px; 
    width: 10%; 
} 

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    color: white;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: white; 
}

body{
    background-image: url(cards/poker3.avif); 
    background-size: cover;
    background-repeat: no-repeat;
}

button{
    height: 40px;
    width: 110px;
    border: 1px green solid;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}