* {
    background-color: lightgrey;
}

img {
    height: 100px;
    width: 100px;
}

button {
    padding: 0;
    border: none;
    background: none;
}

table, th, td{
    width: 28%;
}

.dataOne {
    height: 150px;
    text-align: center;
}

#resultTable {
    float: left;
    width: 28%;
}


#scoreTable {
    float: right;
    margin-right: 40%;
} 

.dataTwo {
    height: 90px;
}

.row {
    text-align: center;
}

.y {
    display: inline-block;
    margin-right: 15.7%;
    margin-left: 11.7%;
}

#resetButton{
    border: 1px solid black;
    height: 35px;
    width: 85px;
    border-radius: 8px;
    color: white;
    background-color: #007acc;
}

#resetRow{
    text-align: center;
}